<div class="top">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <div class= "guchi">グチコミ!<br>
       <h5>日頃の愚痴を吐き出せ！</h5>
      </div>
      <section id="third-block">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field pt-3">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-12 form-control" %>
        </div>

        <div class="field pt-3">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "col-md-12" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field pt-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <div class="actions pt-3">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
      </section>
    </div>
  </div><br><br><br>
</div>

<div class=ESBI>
     <p1>G</p1>
    
</div>