<div class= "container2">
     <div class= "my-page">
          <h2>MyPage</h2>
          <% if @user.image_url.present? %>
               <%= image_tag @user.image_url, :size => '150x150', class: 'img_fluid rounded-circle' %>
          <% end %>
          <p class="pt-3">сЃ╗сЃІсЃЃсѓ»сЃЇсЃ╝сЃа№╝џ<%= @user.name %></p>
          <p class="pt-3">сЃ╗сЃЌсЃГсЃЋсѓБсЃ╝сЃФ</p>
          <p><%= @user.profile %></p>
          <p></p>
          
          <% if @user.id == current_user.id %>
               <%= link_to "сЃдсЃ╝сѓХТЃЁта▒сѓњуиежЏєсЂЎсѓІ", edit_user_registration_path, class: "btn btn-primary" %>
          <% end %>
          <br><br><br><br>
     </div>
          <h3 class="pt-3">"тЁ▒ТёЪ­ЪЉЇ"сЂЌсЂЪТіЋуе┐</h3>
          <div class="posts-container">
                    <% @user.liked_posts.each do |post| %>
                         <div class="balloon4">
                              <p><%= post.body %></p>
                              <% if post.user.present? %>
                              <p>№╝ѕТіЋуе┐УђЁ№╝џ<%= post.user.name %>сЂЋсѓЊ№╝Ѕ</p>
                              <% end %>
                         </div>
                    <% end %>
          </div>
          <br><br>
          <h3 class="pt-3">"жБ▓сѓЊсЂДт┐ўсѓїсѓѕРЮц№ИЈ"сЂЌсЂЪТіЋуе┐</h3>
          <div class="posts-container">
                    <% @user.cheered_posts.each do |post| %>
                         <div class="balloon4">
                              <p><%= post.body %></p>
                              <% if post.user.present? %>
                              <p>№╝ѕТіЋуе┐УђЁ№╝џ<%= post.user.name %>сЂЋсѓЊ№╝Ѕ</p>
                              <% end %>
                         </div>
                    <% end %>
          </div>
          <br>
          <br>
          <div class= "my-page">
          <hr>
          <%= link_to "Тѕ╗сѓІ", :back, class: "btn btn-primary" %>
          </div>
          <br><br>
    
</div>
<div class=ESBI>
     <p1>G</p1>
    
</div>

  
