<div class= "container">
     <div class= "my-page">
          <h2>MyPage</h2>
          <% if @user.image_url.present? %>
               <%= image_tag @user.image_url, :size => '150x150', class: 'img_fluid rounded-circle' %>
          <% end %>
          <p class="pt-3">сЃ╗сЃІсЃЃсѓ»сЃЇсЃ╝сЃа№╝џ<%= @user.name %></p>
          <p class="pt-3">сЃ╗сЃЌсЃГсЃЋсѓБсЃ╝сЃФ</p>
          <p><%= @user.profile %></p>
          <p></p>
          
          <% if @user.id == current_user.id %>
               <%= link_to "сЃдсЃ╝сѓХТЃЁта▒сѓњуиежЏєсЂЎсѓІ", edit_user_registration_path, class: "btn btn-primary" %>
          <% end %>
          <br><br><br><br>
     </div>
          <h3 class="pt-3">"тЁ▒ТёЪ­ЪЉЇ"сЂЌсЂЪТіЋуе┐</h3>
          <div class="posts-container">
                    <% @user.liked_posts.each do |post| %>
                         <div class="balloon4">
                              <p><%= post.body %></p>
                              
                              <p>№╝ѕТіЋуе┐УђЁ№╝џ<%= post.company_name %> <%= post.user.name %>сЂЋсѓЊ№╝Ѕ</p>
                              
                         </div>
                    <% end %>
          </div>
          <br><br>
          <h3 class="pt-3">"жаЉт╝хсЂБсЂдРЮц№ИЈ"сЂЌсЂЪТіЋуе┐</h3>
          <div class="posts-container">
                    <% @user.cheered_posts.each do |post| %>
                         <div class="balloon4">
                              <p><%= post.body %></p>
                              
                              <p>№╝ѕТіЋуе┐УђЁ№╝џ<%= post.company_name %> <%= post.user.name %>сЂЋсѓЊ№╝Ѕ</p>
                              
                         </div>
                    <% end %>
          </div>
          <br><br>
          <h3 class="pt-3">"жБ▓сѓЊсЂДт┐ўсѓїсѓѕ­ЪЇ╗"сЂЌсЂЪТіЋуе┐</h3>
          <div class="posts-container">
                    <% @user.forgot_posts.each do |post| %>
                         <div class="balloon4">
                              <p><%= post.body %></p>
                              
                              <p>№╝ѕТіЋуе┐УђЁ№╝џ<%= post.company_name %> <%= post.user.name %>сЂЋсѓЊ№╝Ѕ</p>
                              
                         </div>
                    <% end %>
          </div>

          <br>
          <div class= "my-page">
          <hr>
          <%= link_to "Тѕ╗сѓІ", :back, class: "btn btn-primary" %>
          </div>
          <br><br><br>
    
</div>
<div class=ESBI>
     <p1>E</p1>
     <p2>S</p2>
     <p3>B</p3>
     <p4>I</p4>
</div>

  
